
#page-headline {
	color: #C1272D;
}

#uc {
	font-size: 16pt;
}

#top > h1 > a {
	color: #9C9A9A;
}

.proj_thumb {
	border-radius: 2px;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}

.proj_container {
	padding-left: 108px;
}

.proj_row {
	padding-bottom: 50px;
}

.proj_row_text {
	text-align: right;
}

.proj_row_image {
	margin-left: 50px;
}

footer {
	margin-top: 50px;

}

.proj_thumb:hover {
	opacity: 0.05;
}

.proj_row_image {
	background-color: #C1272D;
	border-radius: 2px;
}
