
#page-headline {
	color: #C1272D;
}

#page-headline:hover + #uc {
	visibility: visible;
}

#uc {
	font-size: 16pt;
	visibility: hidden;
}

#top > h1 > a {
	color: #9C9A9A;
}

.proj_thumb {
	border-radius: 2px;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	z-index: 4;
}

.proj_container {
	padding-left: 108px;
}

.proj_row {
	padding-bottom: 90px;
}

.proj_row_text {
	text-align: right;
}

.proj_row_text > a > h2 {
	color: #000;
	font-weight: bold;
}

.proj_row_text h6 {
	margin-top: -10px;
	margin-bottom: 15px;
}

footer {
	margin-top: 10px;

}

.proj_thumb:hover {
	opacity: 0.1;
}

.proj_row_image:hover .image_hover {
	color: #fff;
}

.proj_row_image {
	background-color: #C1272D;
	border-radius: 2px;
	margin-left: 20px;
	position: relative;
	margin-top: 15px;
}

.image_hover {
	position: absolute;
	opacity: 1;
	color: transparent;
	margin: auto;
	width: 58%;
	overflow: visible;
	height: 20%;
	top: 0; left: 0; bottom: 0; right: 0;
}

.proj_work {
	font-size: 10pt;
	color: #9C9A9A;
	font-variant: small-caps;
	font-family: Graphik-Regular;
	margin-bottom: 25px;
}

.proj_row_text > p {
	line-height: 17pt;
}

#header {
	margin-bottom: 50px;
}

#container {
	min-width: 1100px;
}
